# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [13]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=list(letters[:10]))
print ("xs:", xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

In [14]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [17]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {10 : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

10         1
a        cat
c     [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [18]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s)

a   -0.126544
b   -0.968315
c    2.553742
d   -1.411093
e    0.423915
dtype: float64
a         NaN
b   -1.936630
c    5.107484
d   -2.822186
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [19]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2020,11,9,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 9 2020'
# or alternatively
date = '9/11/2020 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2020-11-09
2020-11-09 14:45:10.000015
9/11/2020 14:45:00
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-12 14:45:00',
               '2020-09-13 14:45:00', '2020-09-14 14:45:00',
               '2020-09-15 14:45:00', '2020-09-16 14:45:00',
               '2020-09-17 14:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2020-09-11 14:45:00', '2020-09-11 14:45:01',
               '2020-09-11 14:45:02', '2020-09-11 14:45:03',
               '2020-09-11 14:45:04', '2020-09-11 14:45:05',
               '2020-09-11 14:45:06', '2020-09-11 14:45:07',
               '2020-09-11 14:45:08', '2020-09-11 14:45:09',
               ...
               '2020-09-11 15:44:50', '2020-09-11 15:44:51',
               '2020-09-11 15:44:52', '2020-09-11 15:44:53',
               '2020-09-11 15:44:54', '2020-09-11 15:44:55',
               '2020-09-11 15:44:56', '2020-09-11 15:44:57',
               '2020-09-11 15:44:58', '2020-09-11 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [20]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2010-11-12 00:00:00
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [22]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print(tseries)
print (tseries[0:4], '\n')
print (tseries['2020-11-9':'2020-11-11'], '\n') # Note - includes end time

2020-09-11 14:45:00     8.236875
2020-09-12 14:45:00    10.497934
2020-09-13 14:45:00    10.346299
2020-09-14 14:45:00    10.950747
2020-09-15 14:45:00    10.769321
2020-09-16 14:45:00    10.882605
2020-09-17 14:45:00    10.758557
Freq: D, dtype: float64
2020-09-11 14:45:00     8.236875
2020-09-12 14:45:00    10.497934
2020-09-13 14:45:00    10.346299
2020-09-14 14:45:00    10.950747
Freq: D, dtype: float64

Series([], Freq: D, dtype: float64)

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [23]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06', '1980-02-07'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [27]:
entries=10
dates=pd.date_range('11/9/2020 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
print(df)
import IPython
IPython.display.display(df)

                            A         B         C         D
2020-11-09 14:45:00 -1.404526  2.007784  1.615888  0.562843
2020-11-09 15:45:00 -1.917064 -0.306017  0.967111 -1.389802
2020-11-09 16:45:00 -0.394971 -0.738454  0.455675  1.095119
2020-11-09 17:45:00  1.030172  0.211329  0.359493 -0.009151
2020-11-09 18:45:00 -0.888140  0.208914 -0.320299  0.517856
2020-11-09 19:45:00  0.120101 -0.030129  0.366164 -0.331880
2020-11-09 20:45:00 -0.768081 -0.870004 -0.959839 -0.097145
2020-11-09 21:45:00  0.046634  1.027231 -0.509400  0.222458
2020-11-09 22:45:00  1.038874  1.020767  1.396283  0.160560
2020-11-09 23:45:00 -0.434501 -2.023755 -0.927438 -0.585828

                            A         B         C         D
2020-11-09 14:45:00 -1.404526  2.007784  1.615888  0.562843
2020-11-09 15:45:00 -1.917064 -0.306017  0.967111 -1.389802
2020-11-09 16:45:00 -0.394971 -0.738454  0.455675  1.095119
2020-11-09 17:45:00  1.030172  0.211329  0.359493 -0.009151
2020-11-09 18:45:00 -0.888140  0.208914 -0.320299  0.517856
2020-11-09 19:45:00  0.120101 -0.030129  0.366164 -0.331880
2020-11-09 20:45:00 -0.768081 -0.870004 -0.959839 -0.097145
2020-11-09 21:45:00  0.046634  1.027231 -0.509400  0.222458
2020-11-09 22:45:00  1.038874  1.020767  1.396283  0.160560
2020-11-09 23:45:00 -0.434501 -2.023755 -0.927438 -0.585828

or by means of a dictionary:

In [28]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
df2

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [29]:
df.head()

                            A         B         C         D
2020-11-09 14:45:00 -1.404526  2.007784  1.615888  0.562843
2020-11-09 15:45:00 -1.917064 -0.306017  0.967111 -1.389802
2020-11-09 16:45:00 -0.394971 -0.738454  0.455675  1.095119
2020-11-09 17:45:00  1.030172  0.211329  0.359493 -0.009151
2020-11-09 18:45:00 -0.888140  0.208914 -0.320299  0.517856

In [32]:
df.tail(2)

                            A         B         C         D
2020-11-09 22:45:00  1.038874  1.020767  1.396283  0.160560
2020-11-09 23:45:00 -0.434501 -2.023755 -0.927438 -0.585828

In [33]:
df.index

DatetimeIndex(['2020-11-09 14:45:00', '2020-11-09 15:45:00',
               '2020-11-09 16:45:00', '2020-11-09 17:45:00',
               '2020-11-09 18:45:00', '2020-11-09 19:45:00',
               '2020-11-09 20:45:00', '2020-11-09 21:45:00',
               '2020-11-09 22:45:00', '2020-11-09 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [34]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [35]:
df.values

array([[-1.4045259 ,  2.00778426,  1.61588784,  0.56284331],
       [-1.91706418, -0.30601724,  0.96711074, -1.38980185],
       [-0.39497076, -0.73845414,  0.4556747 ,  1.09511931],
       [ 1.03017216,  0.21132887,  0.35949272, -0.0091511 ],
       [-0.88814032,  0.20891426, -0.32029871,  0.5178556 ],
       [ 0.12010133, -0.03012937,  0.366164  , -0.33187998],
       [-0.76808104, -0.87000438, -0.95983926, -0.09714513],
       [ 0.04663388,  1.02723123, -0.50940007,  0.22245792],
       [ 1.03887394,  1.02076667,  1.39628314,  0.16055987],
       [-0.4345011 , -2.02375457, -0.92743786, -0.58582836]])

In [36]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.357150   0.050767   0.244364   0.014503
std     0.957596   1.139359   0.913682   0.687332
min    -1.917064  -2.023755  -0.959839  -1.389802
25%    -0.858126  -0.630345  -0.462125  -0.273196
50%    -0.414736   0.089392   0.362828   0.075704
75%     0.101734   0.818407   0.839252   0.444006
max     1.038874   2.007784   1.615888   1.095119

In [37]:
df.T

,2020-11-09 14:45:00,2020-11-09 15:45:00,2020-11-09 16:45:00,2020-11-09 17:45:00,2020-11-09 18:45:00,2020-11-09 19:45:00,2020-11-09 20:45:00,2020-11-09 21:45:00,2020-11-09 22:45:00,2020-11-09 23:45:00
A,-1.404526,-1.917064,-0.394971,1.030172,-0.888140,0.120101,-0.768081,0.046634,1.038874,-0.434501
B,2.007784,-0.306017,-0.738454,0.211329,0.208914,-0.030129,-0.870004,1.027231,1.020767,-2.023755
C,1.615888,0.967111,0.455675,0.359493,-0.320299,0.366164,-0.959839,-0.509400,1.396283,-0.927438
D,0.562843,-1.389802,1.095119,-0.009151,0.517856,-0.331880,-0.097145,0.222458,0.160560,-0.585828

In [38]:
df.sort_index(axis=1,ascending=False)

                            D         C         B         A
2020-11-09 14:45:00  0.562843  1.615888  2.007784 -1.404526
2020-11-09 15:45:00 -1.389802  0.967111 -0.306017 -1.917064
2020-11-09 16:45:00  1.095119  0.455675 -0.738454 -0.394971
2020-11-09 17:45:00 -0.009151  0.359493  0.211329  1.030172
2020-11-09 18:45:00  0.517856 -0.320299  0.208914 -0.888140
2020-11-09 19:45:00 -0.331880  0.366164 -0.030129  0.120101
2020-11-09 20:45:00 -0.097145 -0.959839 -0.870004 -0.768081
2020-11-09 21:45:00  0.222458 -0.509400  1.027231  0.046634
2020-11-09 22:45:00  0.160560  1.396283  1.020767  1.038874
2020-11-09 23:45:00 -0.585828 -0.927438 -2.023755 -0.434501

In [39]:
df.sort_values(by="C")

                            A         B         C         D
2020-11-09 20:45:00 -0.768081 -0.870004 -0.959839 -0.097145
2020-11-09 23:45:00 -0.434501 -2.023755 -0.927438 -0.585828
2020-11-09 21:45:00  0.046634  1.027231 -0.509400  0.222458
2020-11-09 18:45:00 -0.888140  0.208914 -0.320299  0.517856
2020-11-09 17:45:00  1.030172  0.211329  0.359493 -0.009151
2020-11-09 19:45:00  0.120101 -0.030129  0.366164 -0.331880
2020-11-09 16:45:00 -0.394971 -0.738454  0.455675  1.095119
2020-11-09 15:45:00 -1.917064 -0.306017  0.967111 -1.389802
2020-11-09 22:45:00  1.038874  1.020767  1.396283  0.160560
2020-11-09 14:45:00 -1.404526  2.007784  1.615888  0.562843

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [40]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2020-11-09 14:45:00   -1.404526
2020-11-09 15:45:00   -1.917064
2020-11-09 16:45:00   -0.394971
2020-11-09 17:45:00    1.030172
2020-11-09 18:45:00   -0.888140
2020-11-09 19:45:00    0.120101
2020-11-09 20:45:00   -0.768081
2020-11-09 21:45:00    0.046634
2020-11-09 22:45:00    1.038874
2020-11-09 23:45:00   -0.434501
Freq: H, Name: A, dtype: float64

2020-11-09 14:45:00   -1.404526
2020-11-09 15:45:00   -1.917064
2020-11-09 16:45:00   -0.394971
2020-11-09 17:45:00    1.030172
2020-11-09 18:45:00   -0.888140
2020-11-09 19:45:00    0.120101
2020-11-09 20:45:00   -0.768081
2020-11-09 21:45:00    0.046634
2020-11-09 22:45:00    1.038874
2020-11-09 23:45:00   -0.434501
Freq: H, Name: A, dtype: float64

In [44]:
# selecting rows by counting
# print (df[0:3])
df[0:3]
# or by index
# print (df["2020-11-09 14:45:00":"2020-11-09 16:45:00"])
df["2020-11-09 14:45:00":"2020-11-09 16:45:00"]

                            A         B         C         D
2020-11-09 14:45:00 -1.404526  2.007784  1.615888  0.562843
2020-11-09 15:45:00 -1.917064 -0.306017  0.967111 -1.389802
2020-11-09 16:45:00 -0.394971 -0.738454  0.455675  1.095119

### Selection by label

In [48]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[2]]

A   -0.394971
B   -0.738454
C    0.455675
D    1.095119
Name: 2020-11-09 16:45:00, dtype: float64

In [50]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]

                            A         B
2020-11-09 14:45:00 -1.404526  2.007784
2020-11-09 15:45:00 -1.917064 -0.306017
2020-11-09 16:45:00 -0.394971 -0.738454
2020-11-09 17:45:00  1.030172  0.211329
2020-11-09 18:45:00 -0.888140  0.208914
2020-11-09 19:45:00  0.120101 -0.030129
2020-11-09 20:45:00 -0.768081 -0.870004
2020-11-09 21:45:00  0.046634  1.027231
2020-11-09 22:45:00  1.038874  1.020767
2020-11-09 23:45:00 -0.434501 -2.023755

In [51]:
# showing label slicing, both endpoints are included:
df.loc['2020-11-09 18:45:00':'2020-11-09 20:45:00',['A','B']]

                            A         B
2020-11-09 18:45:00 -0.888140  0.208914
2020-11-09 19:45:00  0.120101 -0.030129
2020-11-09 20:45:00 -0.768081 -0.870004

In [52]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

-1.9170641813392948
-1.9170641813392948

### Selecting by position

In [55]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A    1.030172
B    0.211329
C    0.359493
D   -0.009151
Name: 2020-11-09 17:45:00, dtype: float64

                            A         B
2020-11-09 17:45:00  1.030172  0.211329
2020-11-09 18:45:00 -0.888140  0.208914

In [56]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2020-11-09 15:45:00 -1.917064  0.967111
2020-11-09 16:45:00 -0.394971  0.455675
2020-11-09 18:45:00 -0.888140 -0.320299

In [57]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2020-11-09 15:45:00 -1.917064 -0.306017  0.967111 -1.389802
2020-11-09 16:45:00 -0.394971 -0.738454  0.455675  1.095119

                            B         C
2020-11-09 14:45:00  2.007784  1.615888
2020-11-09 15:45:00 -0.306017  0.967111
2020-11-09 16:45:00 -0.738454  0.455675
2020-11-09 17:45:00  0.211329  0.359493
2020-11-09 18:45:00  0.208914 -0.320299
2020-11-09 19:45:00 -0.030129  0.366164
2020-11-09 20:45:00 -0.870004 -0.959839
2020-11-09 21:45:00  1.027231 -0.509400
2020-11-09 22:45:00  1.020767  1.396283
2020-11-09 23:45:00 -2.023755 -0.927438

In [59]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

-0.30601723813279924

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [60]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2020-11-09 14:45:00 -1.404526  2.007784  1.615888  0.562843
2020-11-09 17:45:00  1.030172  0.211329  0.359493 -0.009151
2020-11-09 18:45:00 -0.888140  0.208914 -0.320299  0.517856
2020-11-09 21:45:00  0.046634  1.027231 -0.509400  0.222458
2020-11-09 22:45:00  1.038874  1.020767  1.396283  0.160560

In [62]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2020-11-09 14:45:00       NaN  2.007784  1.615888  0.562843
2020-11-09 15:45:00       NaN       NaN  0.967111       NaN
2020-11-09 16:45:00       NaN       NaN  0.455675  1.095119
2020-11-09 17:45:00  1.030172  0.211329  0.359493       NaN
2020-11-09 18:45:00       NaN  0.208914       NaN  0.517856
2020-11-09 19:45:00  0.120101       NaN  0.366164       NaN
2020-11-09 20:45:00       NaN       NaN       NaN       NaN
2020-11-09 21:45:00  0.046634  1.027231       NaN  0.222458
2020-11-09 22:45:00  1.038874  1.020767  1.396283  0.160560
2020-11-09 23:45:00       NaN       NaN       NaN       NaN

### Setting

Combination of selection and setting of values

In [63]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [64]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  2.007784  1.615888  5  0.0        0  1.000000
2020-11-09 15:45:00 -1.917064 -0.306017  0.967111  5  0.5        2  0.999962
2020-11-09 16:45:00 -0.394971 -0.738454  0.455675  5  1.0        4  0.999848
2020-11-09 17:45:00  1.030172  0.211329  0.359493  5  1.5        6  0.999657
2020-11-09 18:45:00 -0.888140  0.208914 -0.320299  5  2.0        8  0.999391
2020-11-09 19:45:00  0.120101 -0.030129  0.366164  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.768081 -0.870004 -0.959839  5  3.0       12  0.998630
2020-11-09 21:45:00  0.046634  1.027231 -0.509400  5  3.5       14  0.998135
2020-11-09 22:45:00  1.038874  1.020767  1.396283  5  4.0       16  0.997564
2020-11-09 23:45:00 -0.434501 -2.023755 -0.927438  5  4.5       18  0.996917

In [65]:
# another example of global setting
df2=df.copy()
df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000 -2.007784 -1.615888 -5  0.0        0 -1.000000
2020-11-09 15:45:00 -1.917064 -0.306017 -0.967111 -5 -0.5       -2 -0.999962
2020-11-09 16:45:00 -0.394971 -0.738454 -0.455675 -5 -1.0       -4 -0.999848
2020-11-09 17:45:00 -1.030172 -0.211329 -0.359493 -5 -1.5       -6 -0.999657
2020-11-09 18:45:00 -0.888140 -0.208914 -0.320299 -5 -2.0       -8 -0.999391
2020-11-09 19:45:00 -0.120101 -0.030129 -0.366164 -5 -2.5      -10 -0.999048
2020-11-09 20:45:00 -0.768081 -0.870004 -0.959839 -5 -3.0      -12 -0.998630
2020-11-09 21:45:00 -0.046634 -1.027231 -0.509400 -5 -3.5      -14 -0.998135
2020-11-09 22:45:00 -1.038874 -1.020767 -1.396283 -5 -4.0      -16 -0.997564
2020-11-09 23:45:00 -0.434501 -2.023755 -0.927438 -5 -4.5      -18 -0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [66]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
df.drop(columns=['E prime'])

                            A         B         C  D    E    cosine
2020-11-09 14:45:00  0.000000  2.007784  1.615888  5  0.0  1.000000
2020-11-09 15:45:00 -1.917064 -0.306017  0.967111  5  0.5  0.999962
2020-11-09 16:45:00 -0.394971 -0.738454  0.455675  5  1.0  0.999848
2020-11-09 17:45:00  1.030172  0.211329  0.359493  5  1.5  0.999657
2020-11-09 18:45:00 -0.888140  0.208914 -0.320299  5  2.0  0.999391
2020-11-09 19:45:00  0.120101 -0.030129  0.366164  5  2.5  0.999048
2020-11-09 20:45:00 -0.768081 -0.870004 -0.959839  5  3.0  0.998630
2020-11-09 21:45:00  0.046634  1.027231 -0.509400  5  3.5  0.998135
2020-11-09 22:45:00  1.038874  1.020767  1.396283  5  4.0  0.997564
2020-11-09 23:45:00 -0.434501 -2.023755 -0.927438  5  4.5  0.996917

In [67]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  2.007784  1.615888  5  0.0        0  1.000000
2020-11-09 19:45:00  0.120101 -0.030129  0.366164  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.768081 -0.870004 -0.959839  5  3.0       12  0.998630
2020-11-09 21:45:00  0.046634  1.027231 -0.509400  5  3.5       14  0.998135
2020-11-09 22:45:00  1.038874  1.020767  1.396283  5  4.0       16  0.997564
2020-11-09 23:45:00 -0.434501 -2.023755 -0.927438  5  4.5       18  0.996917

In [68]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2020-11-09 22:45:00"))

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  2.007784  1.615888  5  0.0        0  1.000000
2020-11-09 15:45:00 -1.917064 -0.306017  0.967111  5  0.5        2  0.999962
2020-11-09 16:45:00 -0.394971 -0.738454  0.455675  5  1.0        4  0.999848
2020-11-09 17:45:00  1.030172  0.211329  0.359493  5  1.5        6  0.999657
2020-11-09 18:45:00 -0.888140  0.208914 -0.320299  5  2.0        8  0.999391
2020-11-09 19:45:00  0.120101 -0.030129  0.366164  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.768081 -0.870004 -0.959839  5  3.0       12  0.998630
2020-11-09 21:45:00  0.046634  1.027231 -0.509400  5  3.5       14  0.998135
2020-11-09 23:45:00 -0.434501 -2.023755 -0.927438  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [69]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN  2.007784  1.615888  5  NaN      NaN  1.000000
2020-11-09 15:45:00       NaN       NaN  0.967111  5  0.5      2.0  0.999962
2020-11-09 16:45:00       NaN       NaN  0.455675  5  1.0      4.0  0.999848
2020-11-09 17:45:00  1.030172  0.211329  0.359493  5  1.5      6.0  0.999657
2020-11-09 18:45:00       NaN  0.208914       NaN  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.120101       NaN  0.366164  5  2.5     10.0  0.999048
2020-11-09 20:45:00       NaN       NaN       NaN  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.046634  1.027231       NaN  5  3.5     14.0  0.998135
2020-11-09 22:45:00  1.038874  1.020767  1.396283  5  4.0     16.0  0.997564
2020-11-09 23:45:00       NaN       NaN       NaN  5  4.5     18.0  0.996917

In [70]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

                            A         B         C  D    E  E prime    cosine
2020-11-09 17:45:00  1.030172  0.211329  0.359493  5  1.5      6.0  0.999657
2020-11-09 22:45:00  1.038874  1.020767  1.396283  5  4.0     16.0  0.997564

In [71]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2020-11-09 14:45:00   True  False  False  False   True     True   False
2020-11-09 15:45:00   True   True  False  False  False    False   False
2020-11-09 16:45:00   True   True  False  False  False    False   False
2020-11-09 17:45:00  False  False  False  False  False    False   False
2020-11-09 18:45:00   True  False   True  False  False    False   False
2020-11-09 19:45:00  False   True  False  False  False    False   False
2020-11-09 20:45:00   True   True   True  False  False    False   False
2020-11-09 21:45:00  False  False   True  False  False    False   False
2020-11-09 22:45:00  False  False  False  False  False    False   False
2020-11-09 23:45:00   True   True   True  False  False    False   False

In [72]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  2.007784  1.615888  5  0.0      0.0  1.000000
2020-11-09 15:45:00  0.000000  0.000000  0.967111  5  0.5      2.0  0.999962
2020-11-09 16:45:00  0.000000  0.000000  0.455675  5  1.0      4.0  0.999848
2020-11-09 17:45:00  1.030172  0.211329  0.359493  5  1.5      6.0  0.999657
2020-11-09 18:45:00  0.000000  0.208914  0.000000  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.120101  0.000000  0.366164  5  2.5     10.0  0.999048
2020-11-09 20:45:00  0.000000  0.000000  0.000000  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.046634  1.027231  0.000000  5  3.5     14.0  0.998135
2020-11-09 22:45:00  1.038874  1.020767  1.396283  5  4.0     16.0  0.997564
2020-11-09 23:45:00  0.000000  0.000000  0.000000  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [73]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00       NaN  2.007784  1.615888  5  NaN      NaN  1.000000
2020-11-09 15:45:00       NaN  2.007784  0.967111  5  0.5      2.0  0.999962
2020-11-09 16:45:00       NaN  2.007784  0.455675  5  1.0      4.0  0.999848
2020-11-09 17:45:00  1.030172  0.211329  0.359493  5  1.5      6.0  0.999657
2020-11-09 18:45:00  1.030172  0.208914  0.359493  5  2.0      8.0  0.999391
2020-11-09 19:45:00  0.120101  0.208914  0.366164  5  2.5     10.0  0.999048
2020-11-09 20:45:00  0.120101  0.208914  0.366164  5  3.0     12.0  0.998630
2020-11-09 21:45:00  0.046634  1.027231  0.366164  5  3.5     14.0  0.998135
2020-11-09 22:45:00  1.038874  1.020767  1.396283  5  4.0     16.0  0.997564
2020-11-09 23:45:00  1.038874  1.020767  1.396283  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [74]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A         -0.216698
B          0.050767
C          0.244364
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2020-11-09 14:45:00    1.374810
2020-11-09 15:45:00    1.034856
2020-11-09 16:45:00    1.474585
2020-11-09 17:45:00    2.157236
2020-11-09 18:45:00    2.142838
2020-11-09 19:45:00    2.707883
2020-11-09 20:45:00    2.628672
2020-11-09 21:45:00    3.437514
2020-11-09 22:45:00    4.207641
2020-11-09 23:45:00    3.587318
Freq: H, dtype: float64

In [75]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2020-11-09 14:45:00  0.000000  2.007784  1.615888   5   0.0        0  1.000000
2020-11-09 15:45:00 -1.917064  1.701767  2.582999  10   0.5        2  1.999962
2020-11-09 16:45:00 -2.312035  0.963313  3.038673  15   1.5        6  2.999810
2020-11-09 17:45:00 -1.281863  1.174642  3.398166  20   3.0       12  3.999467
2020-11-09 18:45:00 -2.170003  1.383556  3.077867  25   5.0       20  4.998858
2020-11-09 19:45:00 -2.049902  1.353427  3.444031  30   7.5       30  5.997906
2020-11-09 20:45:00 -2.817983  0.483422  2.484192  35  10.5       42  6.996536
2020-11-09 21:45:00 -2.771349  1.510653  1.974792  40  14.0       56  7.994670
2020-11-09 22:45:00 -1.732475  2.531420  3.371075  45  18.0       72  8.992234
2020-11-09 23:45:00 -2.166976  0.507666  2.443637  50  22.5       90  9.989152

In [76]:
df

                            A         B         C  D    E  E prime    cosine
2020-11-09 14:45:00  0.000000  2.007784  1.615888  5  0.0        0  1.000000
2020-11-09 15:45:00 -1.917064 -0.306017  0.967111  5  0.5        2  0.999962
2020-11-09 16:45:00 -0.394971 -0.738454  0.455675  5  1.0        4  0.999848
2020-11-09 17:45:00  1.030172  0.211329  0.359493  5  1.5        6  0.999657
2020-11-09 18:45:00 -0.888140  0.208914 -0.320299  5  2.0        8  0.999391
2020-11-09 19:45:00  0.120101 -0.030129  0.366164  5  2.5       10  0.999048
2020-11-09 20:45:00 -0.768081 -0.870004 -0.959839  5  3.0       12  0.998630
2020-11-09 21:45:00  0.046634  1.027231 -0.509400  5  3.5       14  0.998135
2020-11-09 22:45:00  1.038874  1.020767  1.396283  5  4.0       16  0.997564
2020-11-09 23:45:00 -0.434501 -2.023755 -0.927438  5  4.5       18  0.996917

In [77]:
df.apply(lambda x: x.max() - x.min())

A           2.955938
B           4.031539
C           2.575727
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [78]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2020-11-09 14:45:00    2.007784
2020-11-09 15:45:00   -2.223081
2020-11-09 16:45:00   -1.133425
2020-11-09 17:45:00    1.241501
2020-11-09 18:45:00   -0.679226
2020-11-09 19:45:00    0.089972
2020-11-09 20:45:00   -1.638085
2020-11-09 21:45:00    1.073865
2020-11-09 22:45:00    2.059641
2020-11-09 23:45:00   -2.458256
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [84]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
!curl https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt --output data_000637

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0

In [80]:


file_name="~/data/data_000637.txt"
data=pd.read_csv(file_name)
data

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
Warning: Failed to create the file ~/data/data_000637: No such file or
Warning: directory

FileNotFoundError: [Errno 2] File C:\Users\fosca/data/data_000637.txt does not exist: 'C:\\Users\\fosca/data/data_000637.txt'

Let's now do some operations among (elements of) columns

In [ ]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [ ]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [ ]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

## Grouping

By “group by” we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method “compresses” a level in the DataFrame’s columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')